<header>
    <div>
        <a href="/">UserManagement</a>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/">Register</a></li>
                <li><a href="/">Login</a></li>
            </ul>
        </nav>
    </div>
</header>